<div class="container-fluid">
    <div class="jumbotron-fluid">
        <div class="row">
            <div class="col ">
                <h1>About</h1>
                <h2>Hi,</h2><em>I'm Alex Parloti.</em>

                I currently can work with Javascript, AngularJS and Animation in HTML5 as Freelancer.

                When I'm offline, I ... well, I guess I'm always online, but when I get tired of
                codes
                and books I play Age of Empires II: The Conquerors.
            </div>
        </div>
    </div>
</div>